header{
    background-color: #468AC9;
    align-content: center;
    width: auto;
    padding: 5px;
    margin: -10px;
}
table{
    background-color: #468AC9;
    width: auto;
}
tr,td{
    /* border: 1px solid; */
}
.header_botones{
    text-align: center;
    width: 150px;
    background-color: #D9D9D9;
}
.header_espacio_ext{
    width: 30%;    
}
.header_espacios{
    width: 50px;
}
a, a:visited, a:hover, a:active {
    color: inherit;
}
.logo_img{
    width: 50px;
    height: 50px;
}
.header_text{
    color: white;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}
h1{
    color: #478BCA; 
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: #173567;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    color:#478BCA;
    font-family: Arial, Helvetica, sans-serif;
}
.center_text{
    text-align: center;
}
#not_center{
    text-align: right;
}